<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../assets/style.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <title>Notes App</title>
</head>

<body>

  <div class="todo-container">

    <h2>Notes App</h2>

    <div class="todo">

      <form class="todo-header" action="/quotes" method="POST">

        <input class="form-group" type="text" placeholder="note" name="note">

        <button type="submit"><span class="fas fa-plus"></span></button>

      </form>


      <div class="container">

        <ul class="todo-list">


          <% if( typeof(quotes) !="undefined") { %>
            <% quotes.forEach(quote=> { %>

              <li class="todo-list-item">

                <div class="todo-list-item-name">
                  <%= quote.note %>
                </div>

                <a href="/remove/<%= quote._id %>" class="remove">

                  <span class="fas fa-times"></span>

                </a>

              </li>

              <%}) %>
                <% } %>

        </ul>

      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

</html>